
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  
<div class = "betContainer" *ngFor = "let bet of teams">
<table  class = "lines">
  <tr>
    <td>
      <label class = "team">{{bet.teams[0]}}</label>
    </td>
    <td>
      <button  class="btn btn-outline-primary mb-2 mr-2" id = "sportBet1" (click)="openWindowCustomClass(content)">{{bet.sites[0].odds.h2h[0] | europeToUS}}</button>
    </td>
  </tr>
  <tr>
    <td>
      <label class = "team">{{bet.teams[1]}}</label>
    </td>
    <td>
      <button class="btn btn-outline-primary mb-2 mr-2" id = "sportBet2" (click)="openWindowCustomClass(content)">{{bet.sites[0].odds.h2h[1] | europeToUS}}</button>
    </td>
     
  </tr>
</table>
<hr>
</div>
